In [203]:
import pandas as pd
import numpy as np
import plotly.express as px

In [204]:
df = pd.read_excel('data.xlsx', engine='openpyxl')
df.head()

,client_id,sum,status,sale,new/current,Unnamed: 5,document,receiving_date
0,NaN,NaN,Май 2021,NaN,NaN,NaN,NaN,NaN
1,6.0,11693.7,ВНУТРЕННИЙ,-,-,NaN,-,-
2,14.0,5452.7,ОПЛАЧЕНО,Петрова,новая,NaN,оригинал,2021-07-26 00:00:00
3,15.0,13991.7,ОПЛАЧЕНО,Иванов,текущая,NaN,оригинал,2021-06-08 00:00:00
4,16.0,719.7,ОПЛАЧЕНО,Иванов,текущая,NaN,оригинал,2021-06-08 00:00:00

In [205]:
df = df.drop(['Unnamed: 5'], axis=1) #Удаление пустого столбца
df = df.drop(labels = [0,1],axis = 0) # Удаление '-', не уверен, что это правильное решение, но непонятно к какому промежуткому времени относятся, поэтому решил удалить данную строчку 
df['receiving_date'] = pd.to_datetime(df['receiving_date']) # STR -> DATE format

**Задание №1**

---

In [206]:
df.head()

,client_id,sum,status,sale,new/current,document,receiving_date
2,14.0,5452.7,ОПЛАЧЕНО,Петрова,новая,оригинал,2021-07-26
3,15.0,13991.7,ОПЛАЧЕНО,Иванов,текущая,оригинал,2021-06-08
4,16.0,719.7,ОПЛАЧЕНО,Иванов,текущая,оригинал,2021-06-08
5,18.0,4253.7,ОПЛАЧЕНО,Иванов,текущая,оригинал,2021-07-07
6,20.0,5796.7,ОПЛАЧЕНО,Кузнецова,текущая,оригинал,2021-07-15

In [207]:
res = df.query("'2021-07-01' < receiving_date < '2021-07-31'") # выборка за июль
result_1 = res['sum'][res['status'] == 'ОПЛАЧЕНО'].sum() # Выборка по условию

In [208]:
print(result_1)
#result: 738642.8399999999

738642.8399999999

**Задание №2**

---

In [209]:
#Рассматриваемый период июль (для всех данных ниже)
plot = res.sort_values(by='receiving_date', axis=0, ascending=False)
fig = px.bar(res, 
             x='receiving_date', 
             y='sum',
            )

fig.show()

In [210]:
#По месяцам

In [211]:
jun = df.query("'2021-06-01' < receiving_date < '2021-06-30'")
jul = df.query("'2021-07-01' < receiving_date < '2021-07-31'")
aug = df.query("'2021-08-01' < receiving_date < '2021-08-31'")
sep = df.query("'2021-09-01' < receiving_date < '2021-09-30'")
oct = df.query("'2021-10-01' < receiving_date < '2021-10-31'")
nov = df.query("'2021-11-01' < receiving_date < '2021-11-30'")

In [212]:
juns = jun['sum'].sum()
juls = jul['sum'].sum()
augs = aug['sum'].sum()
seps = sep['sum'].sum()
octs = oct['sum'].sum()
novs = nov['sum'].sum()
res_2 = pd.DataFrame({'month': ['jun', 'jul', 'aug','sep','oct','nov'], 'sum': [juns, juls, augs,seps,octs,novs]})
res_2

  month        sum
0   jun  489365.87
1   jul  747546.54
2   aug  858585.06
3   sep  796468.07
4   oct  849091.03
5   nov  367221.20

In [213]:
plot = res_2.sort_values(by='month', axis=0, ascending=False)
fig = px.bar(res_2, 
             x='month', 
             y='sum',
            )

fig.show()

In [214]:
#В конце июня начинается рост продаж, который падает к концу октября

**Задание №3**

---

In [215]:
managers = sep.drop(['client_id','status','new/current','document','receiving_date'], axis=1) #sep - данные за сентябрь
managers.groupby('sale').sum() #группировка

                  sum
sale
Андреев     124714.55
Васильев     52238.40
Иванов      143973.90
Кузнецова    47858.50
Петрова     190862.62
Смирнов     146822.20
Соколов      44234.60
Филимонова   45763.30

In [216]:
managers.groupby('sale').sum().max()

sum    190862.62
dtype: float64

In [217]:
#Петрова 190862.62

**Задание №4**

---

In [237]:
df4 = oct
df4_new = df4['new/current'][df4['new/current'] == 'новая'].count()
df4_current = df4['new/current'][df4['new/current'] == 'текущая'].count()
if df4_new>df4_current:
  print('Новая')
else: 
  print('Текущая')

Текущая

In [219]:
#Ответ: текущая

**Задание №5**

---

In [238]:
df5 = pd.read_excel('data.xlsx', engine='openpyxl')
df5

,client_id,sum,status,sale,new/current,Unnamed: 5,document,receiving_date
0,NaN,NaN,Май 2021,NaN,NaN,NaN,NaN,NaN
1,6.0,11693.7,ВНУТРЕННИЙ,-,-,NaN,-,-
2,14.0,5452.7,ОПЛАЧЕНО,Петрова,новая,NaN,оригинал,2021-07-26 00:00:00
3,15.0,13991.7,ОПЛАЧЕНО,Иванов,текущая,NaN,оригинал,2021-06-08 00:00:00
4,16.0,719.7,ОПЛАЧЕНО,Иванов,текущая,NaN,оригинал,2021-06-08 00:00:00
...,...,...,...,...,...,...,...,...
725,285.0,4328.7,ОПЛАЧЕНО,Васильев,текущая,NaN,оригинал,2021-11-15 00:00:00
726,360.0,3096.2,ОПЛАЧЕНО,Васильев,новая,NaN,НЕТ,NaN
727,360.0,3096.2,ПРОСРОЧЕНО,Васильев,новая,NaN,НЕТ,NaN
728,373.0,4403.7,ОПЛАЧЕНО,Михайлов,новая,NaN,оригинал,2021-11-08 00:00:00
729,286.0,3978.7,ОПЛАЧЕНО,Филимонова,текущая,NaN,оригинал,2021-11-15 00:00:00

In [221]:
df5[df5['status']=='Июнь 2021']

,client_id,sum,status,sale,new/current,Unnamed: 5,document,receiving_date
129,NaN,NaN,Июнь 2021,NaN,NaN,NaN,NaN,NaN

In [222]:
df5 = df5.drop(df5.loc[129:729].index)
df5 = df5.drop(labels = [0,0],axis = 0)
df5 = df5.drop(['Unnamed: 5'], axis=1)

In [223]:
result_5 = df5['document'][df5['document']=='оригинал'].count()
#result 123
print(result_5)

123

**Задание**

---

In [224]:
df6 = df.query("'2021-06-01' < receiving_date <= '2021-07-01'")

In [225]:
df6 = df6[df6['document'] != 'оригинал']
df6

    client_id     sum    status     sale new/current document receiving_date
47       87.0  9948.7  ОПЛАЧЕНО  Смирнов       новая      NaN     2021-06-17
93      198.0  4458.7  ОПЛАЧЕНО  Смирнов     текущая      NaN     2021-07-01

In [226]:
#Новые сделки 7%+оплачено
new_data = df6[df6['new/current'] == 'новая'][df6['status'] == 'ОПЛАЧЕНО']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: UserWarning:

Boolean Series key will be reindexed to match DataFrame index.

In [227]:
new_data = new_data[['sale','sum']]
new_data['sum'] = new_data.loc[:, 'sum'] *0.07
print(new_data)

       sale      sum
47  Смирнов  696.409

In [228]:
new_data

       sale      sum
47  Смирнов  696.409

In [229]:
#Текущие сделки 5% если больше 10к, 3% если меньше, условие: !=просрочено
current_data = df6[df6['new/current'] == 'текущая'][df6['status'] != 'ПРОСРОЧЕНО']

current_data

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: UserWarning:

Boolean Series key will be reindexed to match DataFrame index.

    client_id     sum    status     sale new/current document receiving_date
93      198.0  4458.7  ОПЛАЧЕНО  Смирнов     текущая      NaN     2021-07-01

In [230]:
current5 = current_data[current_data['sum']>10000]
current3 = current_data[current_data['sum']<10000]
current5['sum'] = current_data.loc[:, 'sum'] *0.05
current3['sum'] = current_data.loc[:, 'sum'] *0.03

In [231]:
current3 = current3[['sale','sum']]
current5 = current5[['sale','sum']]

In [232]:
current3

       sale      sum
93  Смирнов  133.761

In [233]:
new_data

       sale      sum
47  Смирнов  696.409

In [234]:
result6 = new_data.merge(current3, how='inner', on='sale')

In [235]:
result6['sum'] = result6[['sum_x','sum_y']].sum(axis=1)
result6.drop(columns=['sum_x','sum_y'], inplace=True)

In [236]:
print(result6)
#Ответ: 830.17

      sale     sum
0  Смирнов  830.17